body{
	background: rgb(250,250,250);
	min-width:510px;
}

/*  Starting Screen  */

.gameReady{
	box-sizing: border-box;
	font-size: 200%;
	margin: 0 auto;
	width: 75vw;
	height: 95vh;
	background: rgba(255,50,50,0.75);
	text-align: center;
	padding: 30px; 
}
.gameReady h1{
	padding-top: 10%;
    font-size: 150%;
    font-family: 'Bitter', serif;
    text-shadow: 1px 1px 0px lavender;
}
.gameReady h3{
	padding: 10px;
	font-weight: bold;
	font-family: 'Bitter', serif;
	text-shadow: 1px 1px 0px lavender;
}
.gameReady p{
	padding: 10px;
	font-size: 80%;
	font-family: 'Roboto Slab', serif;
}
.gameReady span:hover{
	cursor: pointer;
}
#four:hover{
	color: rgb(255,255,255)
}
#seven:hover{
	color: rgb(160,0,0);
}

/*   Game Over Screen */

.gameOver{
	font-family: 'VT323', monospace;
	text-align: center;
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	background:rgb(1,1,1);
	color: rgb(56, 183, 18);
}
.gameOver p{
	font-size: 160%
}
.gameOver h2{
	font-size: 200%;
}
.gameOver h2:hover{
	cursor: pointer;
	color: rgba(56, 183, 18,0.5)
}
.gameOver h1{	
	font-size: 600%;	
}
.gameOver >*{
	animation: scroll 20s linear;
}

/*    High Score Screen   */

.highScoreScreen{
	text-align: center;
	width:100vw;
	height: 100vh;
	background: rgba(505,50,50,0.75)
}
.highScoreScreen h1{
	padding-top: 20%;
	font-weight: 700;
	font-style: italic;
	font-size: 400%;
	font-family:  'Lobster Two', cursive;
}
.highScoreScreen h3{
	padding-top: 5%;
    font-size: 250%;
	font-family:  'Lobster Two', cursive;
}
.highScoreScreen h2{
	margin-top: 30px;
    font-size: 126%;
    font-family:  'Lobster Two', cursive;
}
.highScoreScreen h2:hover{
	cursor: pointer;
	color: rgba(1,1,1,0.5);
}

/*    The Play Area   */

.gameArena{
	display:flex;
	justify-content: center;
	margin-top: 150px;
}
.game{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 250px;
}
.touch{
	width: 100px;
	height: 100px;
}
/*  Easy Mode Styles  */
#standard div{
    width: 125px;
    height: 124px;
}
#red{
	background: rgb(237, 33, 33);
	border-radius: 0 45px 0 0;
	
}
#green{
	background: rgb(23, 170, 48);
	border-radius: 45px 0 0 0;
	
}
#blue{
	background: rgb(40, 105, 225);
	border-radius: 0 0 0 45px;
}
#yellow{
	background: rgb(238, 255, 0);
	border-radius: 0 0 45px 0;
	
}

/* Hard Mode Styles */

#hard{
  display: block;
  position: relative;
  box-sizing:border-box;
  width:508px;
  margin: 0 auto;
  padding-top: 65px;
}
#hard div{
  transform:rotate(30deg);
}
.hexagon:before{
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid black;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position:absolute;
  top:-30px;
}
.hexagon{
  margin-top: 60px;
  width: 104px;
  height:60px;
  position:relative;
}
.hexagon:after{
  content: " ";
  width:0;
  position:absolute;
  bottom:-30px;
  border-top:30px solid black;
  border-left: 52px solid transparent;
  border-right:52px solid transparent;
}
#rd{
  background:rgb(237, 33, 33);
  position:relative;
  left:210px;
}
 #rd:after{
  border-top: 30px solid rgb(237,33,33);
}
#rd:before{
  border-bottom: 30px solid rgb(237,33,33);
} 
#grn{
  background: rgb(23, 170, 48);
  position:relative;
  left: 310px;
  top: -180px;
}
#grn:after{
  border-top:30px solid rgb(23,170,48);
}
#grn:before{
  border-bottom:30px solid rgb(23,170,48);
}
#blu{
  background: rgb(40, 105, 225);
  position:relative;
  top:-600px;
  left:210px;
}
#blu:before{
  border-bottom:30px solid rgb(40,105,225);
}
#blu:after{
  border-top:30px solid rgb(40,105,225);
}
#ylw{
  background: rgb(238, 255, 0);
  position:relative;
  left: 110px;
  top: -60px;
}
#ylw:after{
  border-top:30px solid rgb(238,255,0);
}
#ylw:before{
  border-bottom:30px solid rgb(238,255,0);
}
#orng{
  background: rgb(242, 134, 19);
  position:relative;
  left: 210px;
  top: -120px;
}
#orng:after{
  border-top:30px solid rgb(242,134,19);
}
#orng:before{
  border-bottom:30px solid rgb(242,134,19);
}
#teal{
  background: rgb(6, 229, 205);
  position:relative;
  left: 310px;
  top: -300px;
}
#teal:after{
  border-top:30px solid rgb(6,229,205);
}
#teal:before{
	border-bottom:30px solid rgb(6,229,205);
}
#purp{
  background: rgb(209, 6, 185);
  position:relative;
  left: 110px;
  top: -420px;
}
#purp:after{
  border-top:30px solid rgb(209,6,185);
}
#purp:before{
  border-bottom:30px solid rgb(209,6,185);
}

/*   Flash   */

.highlight{
	opacity: 0.2;
	box-shadow: 5px 0 5px black, 0 5px 5px black, -5px 0 5px black, 0 -5px 5px black;
}

/*    Gme Over Animation */

@keyframes scroll {
	0% { padding-top: 0%; }
	100% { padding-top: 15%; }
}


