body{
	background: rgb(250,250,250)
}
.gameReady{
	z-index: 5;
	font-size: 200%;
	margin: 0 auto;
	width: 75vw;
	height: 75vh;
	background: rgba(505,50,50,0.75);
	text-align: center;
}
.gameOver{
	font-family: 'VT323', monospace;
	text-align: center;
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	background:rgb(1,1,1);
	color: rgb(56, 183, 18);
}
.gameOver h2{
	font-size: 120%;
}
.gameOver h2:hover{
	color: rgba(56, 183, 18,0.5)
}
/*@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}*/
.gameOver h1{	
	font-size: 400%;	
	/*animation:scroll 10s linear 4s infinite;*/
}
.highScoreScreen{
	text-align: center;
	width:100vw;
	height: 100vh;
	background: rgba(505,50,50,0.75)
}
.gameArena{
	display:flex;
	justify-content: center;
	margin-top: 150px;
}
.game{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 250px;
}
.touch{
	width: 100px;
	height: 100px;
}
#red,#rd{
	background: rgb(237, 33, 33);
	border-radius: 0 45px 0 0;
	
}
#green,#grn{
	background: rgb(23, 170, 48);
	border-radius: 45px 0 0 0;
	
}
#blue,#bl{
	background: rgb(40, 105, 225);
	border-radius: 0 0 0 45px;
}
#yellow,#ylw{
	background: rgb(238, 255, 0);
	border-radius: 0 0 45px 0;
	
}
#orng{
	background: rgb(242, 134, 19);
}
#teal{
	background: rgb(6, 229, 205);
}
#purp{
	background: rgb(209, 6, 185);
}
.highlight{
	opacity: 0.2;
	box-shadow: 5px 0 5px black, 0 5px 5px black, -5px 0 5px black, 0 -5px 5px black;

	
}