.gameReady{
	z-index: 5;
	margin: 0 auto;
	width: 75vw;
	height: 75vh;
	background: rgba(505,50,50,0.75);
	text-align: center;
}

.game{
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	flex-wrap: wrap;
}
.touch{
	width: 100px;
	height: 100px;
}
#red,#rd{
	background: rgb(237, 33, 33);
	
}
#green,#grn{
	background: rgb(23, 170, 48);
	
}
#blue,#bl{
	background: rgb(40, 105, 225);
}
#yellow,#ylw{
	background: rgb(238, 255, 0);
	
}
#orng{
	background: rgb(242, 134, 19);
}
#teal{
	background: rgb(6, 229, 205);
}
#purp{
	background: rgb(209, 6, 185);
}
.highlight{
	opacity: 0.25;
	box-shadow: 0 0 7px black;
}