


.touch{
	width: 100px;
	height: 100px;
}
#red{
	background: rgb(237, 33, 33);
	
}
#green{
	background: rgb(23, 170, 48);
	
}
#blue{
	background: rgb(40, 105, 205);
}
#yellow{
	background: rgb(238, 255, 0);
	
}
#orng{
	background: rgb(242, 134, 19);
}
#teal{
	background: rgb(6, 209, 205);
}
#purp{
	background: rgb(209, 6, 185);
}
.highlight{
	opacity: 0.25;
	box-shadow: 0 0 5px black;
}